*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: white;
    --text-color: black;
    --padding: 10px;
    --margin: 10px;
    --border: 2px solid black;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: var(--margin);
    padding: var(--padding);
}

