*{
  padding: 0;
  margin: 0;
  font-size: 16px;
}

:root{
  --font-size: 1rem;
}

#title{
  text-align:  center;
  font-size: 2rem;
  color: purple;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  text-decoration: underline;
  margin: 1em;
}

#container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4em;
}

#sidebar-div{
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1.4em;
}

#add-project-div{
  display: flex;
  justify-content: space-between;

}

#main-tasks-div{
  padding: 1em;
}

#add-new-project-form{
  padding: var(--font-size);
  display: flex;
  flex-direction: column;
}

li{
  list-style: none;
}