*{
  padding: 0;
  margin: 0;
  font-size: 16px;
}

#title{
  text-align:  center;
  font-size: 2rem;
  color: purple;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  text-decoration: underline;
  margin: 1em;
}

#container{
  display: grid;
  grid-template-columns: 1fr 4fr ;
  grid-template-rows: 2;
}